@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

:root {
  /* Game Boy palette */
  --primary-color: #306230;
  --primary-color-contrast: #0f380f;

  --black: #0f380f;
  --darkgrey: #8e8b82;
  --grey: #aaa79d;
  --white: #d8d5ca;

  --font: "Pixelify Sans", sans-serif;

  --gameboy-body: #d4d4d4;
  --gameboy-body-light: #f5f5f5;
  --gameboy-body-contrast: #a1a1a1;
  --gameboy-dark: #3f3d3a;
  --gameboy-button-light: #70385d;
  --gameboy-button-dark: #552344;

  --gameboy-screen-darkest: #364322;
  --gameboy-screen-dark: #8cb454;
  --gameboy-screen-light: #97c05d;
  --gameboy-screen-light-darker: #73a039;
  --gameboy-screen-highlight: #96c24f;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: var(--font);
  background-color: var(--white);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 28px;
  background: var(--gameboy-body-contrast);
  filter: drop-shadow(8px 8px 0px var(--gameboy-body-contrast));
}

.chatbot {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 8px;
  border-radius: 24px;
  width: 350px;
  padding: 8px;
  font-family: var(--font);
  position: relative;
  background: var(--gameboy-body);
  border: 4px solid var(--gameboy-body-contrast);
}

.gameboy {
  background: var(--gameboy-body);
  gap: 10px;
  display: flex;
  flex-direction: column;
  padding: 20px 10px 30px 10px;
}

.overskrift {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
}

.overskrift h1 {
  color: var(--gameboy-dark);
  font-size: 1rem;
  letter-spacing: 60%;
  text-transform: uppercase;
  font-weight: 200;
  margin: 0;
}

.svar {
  background: var(--gameboy-screen-light);
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  width: stretch;
  height: 500px;
  overflow-y: hidden;
  position: relative;
}

.svar::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;

  background: linear-gradient(
    to bottom,
    var(--gameboy-screen-light) 2%,
    rgba(0, 0, 0, 0) 30%
  );

  box-shadow: inset 8px 12px 12px rgba(0, 0, 0, 0.3);
}

.svar p {
  margin: 0;
  padding: 0;
  color: var(--gameboy-screen-darkest);
  font-family: var(--font);
}

.svar article {
  min-width: stretch;
}

.svar > section {
  width: stretch;
  padding: 16px;
}

.svar > section:nth-child(even) {
  background: var(--gameboy-screen-dark);
}

.svar > section:nth-last-child(-n + 1) {
  padding: 30px 16px 36px 16px;
}

.svar > section:last-child .question {
  font-size: 1.2rem;
}

.svar > section:last-child .answer {
  font-size: 1.5rem;
}

.svar .question,
.svar .answer {
  flex-direction: column;
}

.svar .answer {
  font-size: 1.2rem;
}

.svar .question {
  font-family: var(--font);
  font-size: 1rem;
  display: flex;
  align-items: flex-end;
}

.svar time {
  font-size: 0.8rem;
  opacity: 50%;
  font-family: var(--font);
}

.spørgsmål {
  display: flex;
  width: stretch;
  background: var(--gameboy-body-light);
  border-radius: 100px;
  gap: 10px;
  justify-content: space-between;
  overflow: hidden;
  align-items: center;
  padding: 4px;
  padding-left: 8px;
}

.spørgsmål input {
  font-size: 16px;
  font-family: var(--font);
  border-style: none;
  background: none;
  height: 100%;
  color: var(--gameboy-screen-darkest);
}

.spørgsmål button {
  aspect-ratio: 1 / 1;
  height: 100%;
  padding: 10px;
  background-color: var(--gameboy-button-light);
  border-radius: 100px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.spørgsmål button svg {
  width: 15px;
  height: 15px;
  fill: var(--gameboy-body-light);
}

.input-højre {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ryd {
  width: fit-content;
  display: flex;
}

.ryd button {
  color: var(--gameboy-dark);
  border: none;
  background: none;
  font-family: var(--font);
  text-transform: uppercase;
  font-weight: 800;
  font-size: 16px;
}

.emner {
  position: absolute;
  left: 0;
  margin-left: 20px;
}

.char-counter {
  text-align: right;
  font-size: 0.9em;
  color: var(--gameboy-body-contrast);
}

.char-counter.warning {
  color: #8bac0f;
}

.char-counter.danger {
  color: #306230;
}

.face {
  position: absolute;
  background: var(--gameboy-body);
  top: 0;
  height: 100px;
  width: auto;
  border: 8px solid var(--gameboy-body-contrast);
  border-left: none;
  border-top: none;
  padding: 20px 10px;
  padding-bottom: 0px;
}
