@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");

:root {
  /* Game Boy palette */
  --primary-color: #306230;
  --primary-color-contrast: #0f380f;

  --black: #0f380f;
  --darkgrey: #8e8b82;
  --grey: #aaa79d;
  --white: #d8d5ca;

  --font: "Silkscreen", sans-serif;

  --gameboy-body: #d4d4d4;
  --gameboy-body-light: #f5f5f5;
  --gameboy-body-contrast: #a1a1a1;
  --gameboy-dark: #7c7c7c;
  --gameboy-darkest: #414141;
  --gameboy-button-light: #b6348b;
  --gameboy-button-dark: #552344;

  --gameboy-screen-darkest: #364322;
  --gameboy-screen-dark: #8cb454;
  --gameboy-screen-light: #97c05d;
  --gameboy-screen-light-darker: #73a039;
  --gameboy-screen-highlight: #96c24f;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: var(--font);
  background-color: var(--gameboy-body-light);
}

button {
  transition: 0.2s;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main::after {
  content: "";
  position: absolute;
  border-radius: 26px;
  inset: 8px -12px -8px 8px;
  background: linear-gradient(
    to bottom,
    var(--gameboy-dark),
    var(--gameboy-darkest)
  );
  z-index: -1;
  box-shadow: inset -4px -4px 0
    color-mix(in srgb, var(--gameboy-darkest) 50%, transparent);
}

.chatbot {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 8px;
  border-radius: 24px;
  width: 350px;
  padding: 12px;
  font-family: var(--font);
  position: relative;
  background: var(--gameboy-body);
  border: 4px solid var(--gameboy-body-contrast);
  box-shadow: inset 4px 4px 0
    color-mix(in srgb, var(--gameboy-body-light) 60%, transparent);
}

.shine {
  position: absolute;
  background: var(--gameboy-body-light);
  width: 20%;
  left: 0;
  height: 100%;
  opacity: 12%;
}

.gameboy {
  gap: 24px;
  display: flex;
  flex-direction: column;
  padding: 12px 0 16px 0;
  z-index: 1;
}

.overskrift {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
}

.overskrift h1 {
  color: var(--gameboy-dark);
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 200;
  margin: 0;
}

.overskrift h1 span {
  font-weight: 800;
}

.svar {
  background: var(--gameboy-screen-light);
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  width: stretch;
  height: 500px;
  overflow-y: hidden;
  position: relative;
  border-radius: 16px;
  border: 4px solid var(--gameboy-body-contrast);
}

.svar::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  border-radius: 12px;
  background: linear-gradient(
    to bottom,
    var(--gameboy-screen-light) 2%,
    rgba(0, 0, 0, 0) 30%
  );
  box-shadow:
    inset 6px 6px 0
      color-mix(in srgb, var(--gameboy-screen-darkest) 40%, transparent),
    inset -4px -4px 0
      color-mix(in srgb, var(--gameboy-screen-darkest) 20%, transparent);
}

.svar p {
  margin: 0;
  padding: 0;
  color: var(--gameboy-screen-darkest);
  font-family: var(--font);
}

.svar > section {
  width: stretch;
}

.svar > section > div:nth-child(even) {
  background: var(--gameboy-screen-dark);
}

.svar .answer {
  font-size: 1rem;
}

.svar .question {
  font-family: var(--font);
  opacity: 60%;
  font-size: 0.7rem;
  display: flex;
  justify-content: flex-end;
}

.message-block > div {
  padding: 12px 24px;
}

.svar > section > .qa:nth-last-child(1) .question {
  padding-top: 16px;
  font-size: 1rem;
}

.svar > section > .qa:nth-last-child(1) .answer {
  padding-bottom: 24px;
  font-size: 1.6rem;
}

.svar time {
  font-size: 0.8rem;
  opacity: 50%;
  font-family: var(--font);
}

.spørgsmål {
  display: flex;
  width: stretch;
  background: var(--gameboy-body-light);
  border: 2px solid var(--gameboy-body-contrast);
  border-radius: 100px;
  gap: 10px;
  justify-content: space-between;
  overflow: hidden;
  align-items: center;
  padding: 4px;
  padding-left: 8px;
}

.spørgsmål input {
  font-size: 0.9rem;
  font-family: var(--font);
  border-style: none;
  background: none;
  height: 100%;
  width: stretch;
  color: var(--gameboy-body-contrast);
}

.spørgsmål input::placeholder {
  color: var(--gameboy-body-contrast);
}

.spørgsmål button {
  aspect-ratio: 1 / 1;
  height: 100%;
  padding: 10px;
  background-color: var(--gameboy-button-light);
  border-radius: 100px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow:
    inset -3px -3px 0
      color-mix(in srgb, var(--gameboy-button-dark) 30%, transparent),
    inset 5px 3px 0
      color-mix(in srgb, var(--gameboy-body-light) 30%, transparent);
}

.spørgsmål button:hover {
  box-shadow:
    inset -3px -3px 0
      color-mix(in srgb, var(--gameboy-button-dark) 30%, transparent),
    inset 2px 2px 0
      color-mix(in srgb, var(--gameboy-body-light) 30%, transparent);
}

.spørgsmål button svg {
  width: 15px;
  height: 15px;
  fill: var(--gameboy-body-light);
}

.input-højre {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ryd {
  display: flex;
  justify-content: end;
}

.ryd button {
  color: var(--gameboy-body-contrast);
  border: none;
  background: none;
  font-family: var(--font);
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.8rem;
}

.ryd button:hover {
  color: var(--gameboy-body-light);
}

.emner {
  position: absolute;
  left: 0;
  margin-left: 20px;
}

.char-counter {
  text-align: right;
  font-size: 0.9em;
  color: var(--gameboy-body-contrast);
}

.char-counter.warning {
  color: #8bac0f;
}

.char-counter.danger {
  color: #306230;
}

.face {
  position: absolute;
  bottom: 12px;
  left: 12px;
  height: 60px;
  width: auto;
}

.face svg {
  height: 100%;
  width: auto;
}

.cls-1 {
  fill: var(--gameboy-body);
}

.cls-2 {
  fill: var(--gameboy-body);
}

.cls-3 {
  fill: var(--gameboy-body-contrast);
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.dots {
  display: flex;
  gap: 8px;
  justify-content: center;
  padding-right: 12px;
}

.dots div {
  width: 24px;
  height: 3px;
  border-radius: 20px;
  background: var(--gameboy-body-contrast);
}

.antenna {
  position: absolute;
  z-index: -1;
  top: -56px;
  left: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.antenna > div {
  border-radius: 4px 4px 0 0;
  background: var(--gameboy-body-contrast);
  box-shadow: inset 3px 3px 0
    color-mix(in srgb, var(--gameboy-body-light) 40%, transparent);
}

.antenna > div:nth-child(1) {
  height: 48px;
  width: 8px;
}

.antenna > div:nth-child(2) {
  height: 18px;
  width: 32px;
  background: var(--gameboy-dark);
}
