@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");

:root {
  --primary-color: rgb(230, 38, 57);
  --primary-color-contrast: rgb(181, 22, 38);
  --black: rgb(20, 20, 20);
  --darkgrey: rgb(156, 156, 156);
  --grey: rgb(206, 206, 206);
  --white: rgb(235, 235, 235);
  --font: "Pixelify Sans", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: var(--font);
  background-color: var(--white);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chatbot {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 24px;
  border: 8px solid var(--primary-color-contrast);
  font-family: var(--font);
  position: relative;
}

.gameboy {
  width: 400px;
  background: #e62639;
  background: linear-gradient(
    221deg,
    rgba(230, 38, 57, 1) 20%,
    rgba(245, 86, 102, 1) 50%,
    rgba(230, 38, 57, 1) 80%
  );
  border-top: 8px solid var(--primary-color-contrast);
  padding: 10px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}

.overskrift {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}

.overskrift h1 {
  color: var(--white);
  font-size: 1.5rem;
  margin: 0;
}

.svar {
  background: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  width: stretch;
  height: 500px;
  overflow-y: hidden;
  gap: 10px;
  border: 10px solid var(--grey);
}

.svar p {
  margin: 0;
  padding: 0;
  color: var(--black);
  font-family: var(--font);
  font-size: 1.5rem;
}

.svar article {
  min-width: stretch;
}

.svar .question,
.svar .answer {
  padding: 15px;
  flex-direction: column;
}

.svar .question {
  opacity: 60%;
  font-family: var(--font);
  font-size: 1rem;
  display: flex;
  align-items: flex-end;
  background: var(--grey);
}

.svar time {
  font-size: 0.8rem;
  opacity: 50%;
  font-family: var(--font);
}

.spørgsmål {
  display: flex;
  width: stretch;
}

.spørgsmål > div {
  background: var(--white);
  border-radius: 20px;
  border: 5px solid var(--grey);
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  align-items: center;
  padding: 10px;
}

.spørgsmål input {
  font-size: 16px;
  font-family: var(--font);
  border-style: none;
  background: none;
  height: 100%;
  width: stretch;
}

.spørgsmål button {
  aspect-ratio: 1/1;
  height: 100%;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--white);
  border: none;
  color: var(--primary-color);
  font-family: var(--font);
  display: flex;
  align-items: center;
  justify-content: center;
}

.spørgsmål button svg {
  fill: var(--primary-color);
}

.spørgsmål button:hover {
  background: var(--white);
}

.ryd {
  width: fit-content;
  display: flex;
}

.ryd button {
  color: var(--white);
  border: none;
  background: none;
  font-family: var(--font);
  text-transform: uppercase;
  font-weight: 800;
  font-size: 16px;
}

.emner {
  position: absolute;
  left: 0;
  margin-left: 20px;
}

.char-counter {
  text-align: right;
  font-size: 0.9em;
  color: var(--grey);
}
.char-counter.warning {
  color: orange;
}
.char-counter.danger {
  color: red;
}

.face {
  position: absolute;
  background: var(--white);
  top: 0;
  left: 0;
  height: 100px;
  width: auto;
  border: 8px solid var(--primary-color-contrast);
  border-left: none;
  border-top: none;
  padding: 20px 10px;
  padding-bottom: 0px;
}
